//SCSS Files
@use '../../variables.scss' as variables;

//PokeInfoContainer Styles

.pokeInfoContainer {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 65%;

  .pokeInfoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    position: relative;

    .pokeInfoHeading {
      display: flex;
      align-items: center;

      .soundPlayerContainer {
        display: flex;

        .playButton {
          position: static;
          font-size: 2.6rem;
          margin-right: 0.5rem;
        }
      }

      .pokeInfoName {
        text-transform: capitalize;
        font-size: 1.9rem;
      }

      .tooBigPokeName {
        font-size: clamp(1rem, 7vw, 2rem);
      }
    }

    @media (max-width: 1150px) {
      .pokeInfoHeading {
        margin-top: 0.5rem;
      }
    }

    .pokeInfoImg {
      width: 250px;
      height: auto;
      align-self: center;
      image-rendering: pixelated;
      filter: drop-shadow(3px 5px 2px variables.$search-box-shadow);
    }

    .pokeInfoFlavorText {
      line-height: 1.5;
      max-width: 350px;
      font-size: 1.1rem;
    }

    @media (max-width: 1150px) {
      .pokeInfoFlavorText {
        max-width: none;
        text-align: center;
        max-width: 500px;
      }
    }

    .searchBar_navigationButton {
      font-size: 3rem;
      cursor: pointer;
      color: variables.$font-color-dark-grey;
      position: absolute;
    }

    .navigationButtonLeft {
      left: -5px;
    }

    .navigationButtonRight {
      right: -5px;
    }
  }
  @media (max-width: 1150px) {
    .pokeInfoWrapper {
      align-items: center;
      min-width: auto;
    }
  }

  .pokeInfoTypeStatsWrapper {
    display: flex;
    padding: 0.5rem 1rem;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1.2rem;
    border: 10px solid variables.$white;
    background-color: variables.$body-color;

    .statsContainer {
      width: 300px;
      flex-direction: column;
      align-items: flex-start;
      align-items: center;
      gap: 0;

      .statsWrapper {
        gap: 0.2rem;
        width: 100%;
        height: auto;
        flex-direction: row;

        .statsUnitNumber {
          order: 1;
          font-size: 1.5rem;
          font-weight: 500;
          align-items: center;
          color: variables.$font-color;

          .statsUnitDisplay {
            font-weight: 300;
            font-size: 1.4rem;
          }
        }

        .statsUnitName {
          border-top: none;
          font-size: 1.5rem;
          font-weight: 300;
          margin-right: 0.5rem;
          color: variables.$font-color-dark-grey;
        }
      }
    }
    @media (max-width: 1150px) {
      .statsContainer {
        width: 100%;
      }
    }

    .pokeTypeContainer {
      height: auto;

      .pokeTypeText {
        font-size: 1.5rem;
        margin-top: 0.5rem;
        height: 50px;
        box-shadow: 0px 2px 5px variables.$search-box-shadow;
      }
    }
    @media (max-width: 1150px) {
      .pokeTypeContainer {
        justify-content: space-around;
        flex-direction: column;
        max-width: 300px;
      }
    }
  }
  @media (max-width: 1150px) {
    .pokeInfoTypeStatsWrapper {
      border: none;
      margin-top: 2rem;
      align-items: center;
      padding: 1rem 1rem 1.5rem;
    }
  }
}
@media (max-width: 1150px) {
  .pokeInfoContainer {
    flex-direction: column;
    width: 100%;
  }
}
