//SCSS Files
@use '../../variables.scss' as variables;

//InfiniteScrollElement Styles
.infiniteScrollSpinner {
  margin: 2.5rem 0 1.5rem 0;
  width: 100px;
  height: 100px;
}
.hiddenInfiniteScroll {
  visibility: hidden;
}
