//SCSS Files
@use '../../variables' as variables;

//PokeContainer Styles
.pokeContainer {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 2.5rem;
  margin-top: 5rem;
  justify-content: center;
}
