//SCSS Files
@use '../../variables' as variables;

//PokeContainer Styles
.pokeContainer {
  width: 95%;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, max-content));
  justify-content: center;
  row-gap: 3rem;
  column-gap: 2.5rem;
}
