//SCSS Files
@use '../../variables.scss' as variables;

//CardStats Styles
.statsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.1rem 0.6rem;

  .statsWrapper {
    width: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .statsUnitNumber {
      color: variables.$black;
      display: flex;
      justify-content: center;
      font-weight: 400;
      font-size: 1rem;

      .statsUnitDisplay {
        color: variables.$font-color-dark-grey;
        font-weight: 300;
        font-size: 1rem;
      }
    }
    .statsUnitName {
      order: -1;
      font-size: 1.1rem;
      font-weight: 400;
      color: variables.$font-color-dark-grey;
    }
  }
}
