//SCSS Files
@use '../../variables.scss' as variables;

//CardStats Styles
.statsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.3rem 0.8rem;

  .statsWrapper {
    height: 50px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .statsUnitNumber {
      color: variables.$black;
      display: flex;
      justify-content: center;
      font-weight: 400;
      font-size: 1.05rem;

      .statsUnitDisplay {
        color: variables.$font-color-dark-grey;
        font-weight: 300;
      }
    }
    .statsUnitName {
      font-size: 0.95rem;
      font-weight: 400;
      color: variables.$font-color-dark-grey;
      border-top: 1px solid variables.$font-color-grey;
    }
  }
}
