//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

//PokeTypes
$grass-type: hsl(102, 50%, 49%);
$rock-type: hsl(47, 60%, 40%);
$ice-type: hsl(180, 44%, 67%);
$dragon-type: hsl(254, 92%, 57%);
$dark-type: hsl(23, 25%, 29%);
$psychic-type: hsl(344, 92%, 62%);
$bug-type: hsl(67, 75%, 38%);
$flying-type: hsl(254, 74%, 71%);
$steel-type: hsl(240, 19%, 72%);
$fire-type: hsl(22, 85%, 54%);
$fighting-type: hsl(2, 71%, 41%);
$ground-type: hsl(42, 64%, 45%);
$ghost-type: hsl(262, 31%, 40%);
$poison-type: hsl(301, 49%, 38%);
$water-type: hsl(223, 80%, 63%);
$fairy-type: hsl(300, 45%, 71%);
$electric-type: hsl(46, 92%, 65%);
$normal-type: hsl(60, 20%, 49%);

//Fonts
$poppins-font: 'Poppins', sans-serif;
$font-color: hsl(0, 0%, 25%);
$font-color-grey: hsl(0, 0%, 80%);
$font-color-medium-grey: hsl(0, 0%, 60%);
$font-color-dark-grey: hsl(0, 0%, 40%);

//Colors
$body-color: hsl(195, 20%, 96%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$blue: hsl(200, 100%, 50%, 0.6);
$light-blue: hsl(200, 100%, 70%, 0.6);
$transparent-light-blue: hsl(195, 60%, 85%, 0.3);
$pokeball-red: hsl(0, 60%, 50%);
$card-color: hsl(214, 17%, 96%);
$card-box-shadow: hsl(0, 0%, 0%, 0.25);
$card-border-color: hsl(218, 16%, 80%);
$lighter-box-shadow: hsl(0, 0%, 0%, 0.15);
$search-box-shadow: hsl(0, 0%, 0%, 0.35);
